.social-icon img {
  width: 30px;
  margin-left: 10px;
}
.social-icon button {
  background-color: transparent;
  border: none;
}

.address {
  background-color: #272a30;
  color: white;
}
.footer-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  gap: 50px;
}
.footer-info li {
  color: #ccc;
}

.user-icon img {
  width: 20%;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: white;
}
/* responsive */
@media only screen and (max-width: 480px) {
}
