.car-details {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  gap: 100px;
}
.car-details img {
  width: 100%;
}
.full-car {
  overflow-x: hidden;
  border: none;
  transition: 0.5s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.full-car:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.full-car button {
  border: none;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #03a4e0;
  padding: 10px 25px;
}
.full-car button:hover {
  background-color: #03a4e0;
  color: white;
  border: none;
}
.full-car img {
  transition: 0.5s;
}
.full-car img:hover {
  transform: scale(1.1);
}
.car-name {
  font-weight: 700;
}
.car-supplier {
  display: flex;
  justify-content: space-between;
  color: rgb(71, 71, 71);
}
.icon-margin {
  margin-right: 5px;
}
.car-inventory {
  display: flex;
  justify-content: center;
}
.inventory-link {
  padding: 20px;
  border: 1px solid #ccc;
  text-decoration: none;
}
.card-img {
  overflow: hidden;
}
.icon {
  color: #33c24d;
}
.icon-style {
  display: flex;
  justify-content: center;
}
.icon-style p {
  margin-left: 5px;
}
.price {
  color: rgb(100 116 139);
  font-weight: 700;
}
.main-icon {
  display: flex;
  justify-content: space-between;
}
.line {
  border: 1px solid #ccc;
}
