*:focus {
  outline: none;
}
.sold-car {
  width: 80%;
  margin: 0 auto;
}
.sold-car img {
  width: 100%;
}
.submit {
  width: 100%;
  background-color: tomato;
}
/* deliver */
.update {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
}
.my-car-info {
  text-align: start;
}
.deliver button {
  border: none;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #03a4e0;
}
.deliver button:hover {
  background-color: #03a4e0;
  color: white;
}
.quantity {
  display: flex;
  margin-left: 20px;
}
.quantity input {
  padding: 9px;
}
.car-Delivery {
  display: flex;
}

/* manage-inventory */
.manage-inventory a {
  text-decoration: none;
  background-color: #03a4e0;
  color: white;
  width: 100%;
  text-align: center;
  padding: 18px 5px;
}
.manage-inventory a:hover {
  background-color: #01bbff;
  color: white;
}
.manage-inventory {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
/* responsive */
@media only screen and (max-width: 480px) {
  .update {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
