.welcome-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 20px;
  width: 100%;
}
.text-vehicle {
  font-size: 15px;
}
.title-vehicle {
  font-weight: 600;
  font-size: 18px;
}
.title-vehicle:hover {
  color: #85d4ff;
}
.welcome-bg {
  background-color: rgba(204, 204, 204, 0.24);
}
.welcome {
  border: none;
}
/* responsive */

@media only screen and (max-width: 480px) {
  .welcome-info {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
  }
}
