.mission {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 50px;
  margin-top: 80px;
  margin-bottom: 50px;
}
.mission-text {
  text-align: center;
  font-size: 30px;
  color: #ccc;
}
.mission-text h1 {
  border: 1px solid #ccc;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 20px;
}
.full-mission {
  display: grid;
  align-items: center;
}
/* bottom section */
.money-icon {
  background-image: url("../../../img/cars/4.jpg");
  width: 100%;
  height: 20%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.user-icon {
  background-color: rgba(0, 0, 0, 0.637);
}
.all-car-icon {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
}
.icon-center {
  display: grid;
  justify-items: center;
  margin-top: 20px;
  color: white;
}
/* responsive */
@media only screen and (max-width: 480px) {
  .mission {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .mission p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  .mission h3 {
    text-align: center;
    padding: 20px;
  }
  .all-car-icon {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-items: center;
    gap: 20px;
  }
}
