.mission {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 50px;
  margin-top: 80px;
  margin-bottom: 50px;
}
.mission-text {
  text-align: center;
  font-size: 30px;
  color: #ccc;
}
.mission-text h1 {
  border: 1px solid #ccc;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 20px;
}
.full-mission {
  display: grid;
  align-items: center;
}

/* responsive */
@media only screen and (max-width: 480px) {
  .mission {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .mission p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  .mission h3 {
    text-align: center;
    padding: 20px;
  }
}
